%wrapper 
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          smap
        %ul.main-header__left-box__member-list
          Member：
          %li.mai-header__left-box__member
            kimura
      .main-header__edit-btn
        Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            ringo
          %p.message__upper-info__date
            2019/10/02(Wed) 17:08:26
        %p.message__text
          testtesttesttesttest


    .form
      %form.new-message
        .input-box
          .input-box__text
            type a message
          %label.input-box__image
            = fa_icon 'image'
        .submit-btn
          Send 




